<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Soundify</title>
  </head>
  <body class="full-height-grow">
    <div class="header">
      <nav>
        <div class="logo-wrapper">
          <img src="../images/logo.png" alt="" class="logo" />
          <h2>Soundify</h2>
        </div>
        <div class="links">
          <ul>
            <li><a  href="./discover.html">Discover</a></li>
            <li><a  href="./join.html">Join</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <main >
        <div class="img-wrapper">
          <div class="girl"></div>
        </div>
        <div class="text">
          <div class="title"><h1>Feel The <span style="color: rgb(188, 58, 128, 1);">Music</span></h1></div>
          <div class="sub-title">
            Stream over 20 thousand songs with one click
          </div>
          <a href="./join.html" class="btn">Join Now</a>
        </div>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
  </body>
</html>
